.font {
    font-family: roboto;
    font-size: 25px;
    color: rgb(20, 20, 20);
    font-weight: 600;
}

.button1 {
    height: 40px;
    width: 120px;
    border-radius: 8px;
    background-color: #7fad39;
    color: white;
    font-weight: 800;
}

#font1 {
    font-size: 35px;
    color: rgb(253, 246, 246);
    font-weight: 600;
}
